<div id="wrapper">
  <h1>News Scraper - source 680 News</h1>
  <div id="articles">
    Sorry, there is a problem scrapping the website, please try again later!
  </div>
  <div id="notes"></div>
</div>
  