<div id="wrapper">
  <h1>News Scraper - source 680 News</h1>
  <div id="articles">
    {{#each result}}

    <p data-id="{{_id}}">
      {{title}}<br />{{link}}
    </p>
    {{/each}}
  </div>
  <div id="notes"></div>
</div>
  
